<div role="tabpanel" class="tab-pane config-section" id="mlc">
	<form method="POST" autocomplete="off" class="w-100">
		<div style="display:flex; justify-content:space-between;">
			<h6>
				{{ _('MajorLeagueCyber integration') }}
			</h6>
			<span data-toggle="tooltip" data-placement="top" title="{{ _('MLC is a CTF stats tracker that provides event scheduling, team tracking, and SSO.') }}" aria-hidden="true">
				<i class="fas fa-question-circle"></i>
			</span>
		</div>
		<small>
			{{ _('Begin by registering your event with') }} <a href="https://www.majorleaguecyber.org/">MajorLeagueCyber</a> {{ _('to get your OAuth Client ID and Client Secret. Need more help? Check out the') }} <a href="https://docs.ctfd.io/docs/settings/mlc" target="_blank">{{ _('documentation') }}</a>.
		</small>
		<br>
		<div class="form-group">
			<label>
				{{ _('Client ID') }}
			</label>
			<input class="form-control" id='oauth_client_id' name='oauth_client_id' type='text' placeholder=""
				{% if oauth_client_id is defined and oauth_client_id != None %}value="{{ oauth_client_id }}"{% endif %}>
		</div>

		<div class="form-group">
			<label>
				{{ _('Client Secret') }}
			</label>
			<input class="form-control" id='oauth_client_secret' name='oauth_client_secret' type='text' placeholder=""
				{% if oauth_client_secret is defined and oauth_client_secret != None %}value="{{ oauth_client_secret }}"{% endif %}>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">{{ _('Update') }}</button>
	</form>
</div>
