{% block header %}
{% endblock %}

<form method="POST">
	{% block name %}
	<div class="form-group">
		<label>
			{{ _('Name') }}<br>
			<small class="form-text text-muted">{{ _('Challenge Name') }}</small>
		</label>
		<input type="text" class="form-control chal-name" name="name" value="{{ challenge.name }}">
	</div>
	{% endblock %}

	{% block category %}
	<div class="form-group">
		<label>
			{{ _('Category') }}<br>
			<small class="form-text text-muted">{{ _('Challenge Category') }}</small>
		</label>
		<input type="text" class="form-control chal-category" name="category" value="{{ challenge.category }}">
	</div>
	{% endblock %}

	{% block message %}
	<div class="form-group">
		<label>
			{{ _('Message') }}<br>
			<small class="form-text text-muted">
				{{ _('Use this to give a brief introduction to your challenge.') }}
			</small>
		</label>
		<textarea id="desc-editor" class="form-control chal-desc-editor markdown" name="description" rows="10">{{ challenge.description }}</textarea>
	</div>
	{% endblock %}

	{% block attribution %}
	<div class="form-group">
		<label>
			{{ _('Attribution:') }}<br>
			<small class="form-text text-muted">
				{{ _('Attribution for your challenge') }} <small>({{ _('supports markdown') }})</small>
			</small>
		</label>
		<input type="text" class="form-control" name="attribution" value="{{ challenge.attribution }}">
	</div>
	{% endblock %}

	{% block connection_info %}
	<div class="form-group">
		<label>
			{{ _('Connection Info') }}<br>
			<small class="form-text text-muted">
				{{ _('Use this to specify a link, hostname, or connection instructions for your challenge.') }}
			</small>
		</label>
		<input type="text" class="form-control chal-connection-info" name="connection_info" value="{{ challenge.connection_info | default('', true) }}">
	</div>
	{% endblock %}

	{% block value %}
	<div class="form-group">
		<label for="value">
			{{ _('Value') }}<br>
			<small class="form-text text-muted">
				{{ _('This is how many points teams will receive once they solve this challenge.') }}
			</small>
		</label>
		<input type="number" class="form-control chal-value" name="value" value="{{ challenge.value }}" required>
	</div>
	{% endblock %}

	{% block position %}
	<div class="form-group">
		<label for="position">
			{{ _('Position') }}<br>
			<small class="form-text text-muted">
				{{ _('This is used to order the challenge. Lower positions are first. Position 0 goes to the end to be sorted by challenge value.') }}
			</small>
		</label>
		<input type="number" class="form-control chal-position" name="position" value="{{ challenge.position }}" required>
	</div>
	{% endblock %}

	{% block function %}
	<div class="form-group">
		<label for="function">
			{{ _('Scoring Function') }}<br>
			<small class="form-text text-muted">
				<span>{{ _('How the challenge value will be calculated based on the Decay value') }}</span>
			</small>
		</label>
		<select name="function" class="custom-select chal-function">
			<option value="static" {% if challenge.function == "static" %}selected{% endif %}>{{ _('Static') }}</option>
			<option value="linear" {% if challenge.function == "linear" %}selected{% endif %}>{{ _('Linear') }}</option>
			<option value="logarithmic" {% if challenge.function == "logarithmic" %}selected{% endif %}>{{ _('Logarithmic') }}</option>
		</select>
		<small class="form-text text-muted">
			<ul>
				<li>{{ _('Static: Challenge') }} <code>{{ _('Value') }}</code> {{ _('is awarded as-is') }}</li>
				<li>{{ _('Linear: Calculated as') }} <code>Initial - (Decay * SolveCount)</code></li>
				<li>{{ _('Logarithmic: Calculated as') }} <code>(((Minimum - Initial) / (Decay^2)) * (SolveCount^2)) + Initial</code></li>
			</ul>
		</small>
	</div>
	{% endblock %}

	{% block initial %}
	<div class="form-group">
		<label for="initial">{{ _('Initial Value') }}<br>
			<small class="form-text text-muted">
				{{ _('This is how many points the challenge was worth initially.') }}
			</small>
		</label>
		<input type="number" class="form-control chal-initial" name="initial" value="{{ challenge.initial }}" required>
	</div>
	{% endblock %}

	{% block decay %}
	<div class="form-group">
		<label for="decay">{{ _('Decay') }}<br>
			<small class="form-text text-muted">
				<span>{{ _('The decay value is used differently depending on the above Decay Function') }}</span>
				<ul>
					<li>{{ _('Linear: The amount of points deducted per solve. Equal deduction per solve.') }}</li>
					<li>{{ _('Logarithmic: The amount of solves before the challenge reaches its minimum value. Earlier solves will lose less points. Later solves will lose more points') }}</li>
				</ul>
			</small>
		</label>
		<input type="number" class="form-control chal-decay" min="1" name="decay" value="{{ challenge.decay }}" required>
	</div>
	{% endblock %}

	{% block minimum %}
	<div class="form-group">
		<label for="minimum">{{ _('Minimum Value') }}<br>
			<small class="form-text text-muted">
				{{ _('This is the lowest that the challenge can be worth') }}
			</small>
		</label>
		<input type="number" class="form-control chal-minimum" name="minimum" value="{{ challenge.minimum }}" required>
	</div>
	{% endblock %}

	{% block logic %}
	<div class="form-group">
		<label>
			{{ _('Logic') }}<br>
			<small class="form-text text-muted">{{ _('Determines how this challenge is solved') }}</small>
		</label>

		<select class="form-control custom-select" name="logic">
			<option value="any" {% if challenge.logic == "any" or not challenge.logic %}selected{% endif %}>{{ _('Require Any Flag') }}</option>
			<option value="all" {% if challenge.logic == "all" %}selected{% endif %}>{{ _('Require All Flags') }}</option>
			<option value="team" {% if challenge.logic == "team" %}selected{% endif %}>{{ _('Require Any Flags by All Team Members') }}</option>
		</select>
	</div>
	{% endblock %}

	{% block max_attempts %}
	<div class="form-group">
		<label>
			{{ _('Max Attempts') }}<br>
			<small class="form-text text-muted">{{ _('Maximum amount of attempts users receive. Leave at 0 for unlimited.') }}</small>
		</label>

		<input type="number" class="form-control chal-attempts" name="max_attempts" value="{{ challenge.max_attempts }}">
	</div>
	{% endblock %}

	{% block state %}
	<div class="form-group">
		<label>
			{{ _('State') }}<br>
			<small class="form-text text-muted">{{ _('Changes the state of the challenge (e.g. visible, hidden)') }}</small>
		</label>

		<select class="form-control custom-select" name="state">
			<option value="visible" {% if challenge.state == "visible" %}selected{% endif %}>{{ _('Visible') }}</option>
			<option value="hidden" {% if challenge.state == "hidden" %}selected{% endif %}>{{ _('Hidden') }}</option>
		</select>
	</div>
	{% endblock %}

	{% block submit %}
	<div>
		<button class="btn btn-success btn-outlined float-right" type="submit">
			{{ _('Update') }}
		</button>
	</div>
	{% endblock %}
</form>

{% block footer %}
{% endblock %}